<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--> Credenciales para el servidor FTP-->
    <add key="ServerFtpTxt" value="ftp://50.87.144.191/creativasoftline.com/naturalwuane"/>
    <add key="UsuarioFtpTxt" value="creativa"/>
    <add key="ContraseñaFtpTxt" value="hUzh7wiy9Df@"/>
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <!--<add name="strLocalConnection" connectionString="Data Source=KIKEMB;Initial Catalog=fincamo1_monteverdelocal; user=sa; password=123456" providerName="System.Data.SqlClient"/>-->
    <!--<add name="strLocalConnection" connectionString="Data Source=50.97.128.140;Initial Catalog=fincamo1_monteverdelocal; user=fincamo1_monteverde; password=t5pm%F_soaO8wrjvS$e(nx0Z6yiVg9zdubfkc@ql" />-->
    <!--<add name="strConnection" connectionString="Data Source=50.97.128.140;Initial Catalog=fincamo1_naturalwuane; user=fincamo1_spa; password=natura1wuanE.; Timeout=0;" />-->
    <add name="strConnection" connectionString="Data Source=(local);Initial Catalog=fincamo1_naturalwuane; user=sa; password=123456; Timeout=0;" />
    <!--<add name="strConnection" connectionString="Data Source=KIKEMB;Initial Catalog=fincamo1_monteverde; user=SA; password=123456" />-->
  </connectionStrings>
</configuration>